body{
    padding:0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.nav{
    background-color: lightgrey;
    height: 100vh;
}
.cont{
    background-color: #515251;
    height: 100vh;
}
.row{
    padding: 0;
    margin: 0;
    width: 100vw;
}
.container-fluid{
    padding:0;
    margin:0;
    width: 100vw;
}